.po_items_ho {
    display: flex;
    flex-wrap: nowrap;
    column-width: 15em;
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
}

.po_item {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: var(--secondary-color);
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
    min-height: 500px;
}

.po_item img {
    max-width: 100%;
}

.po_item .content {
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(12, 12, 12, 0.83);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border: 1px solid black;
    padding: 0 10px;
    font-size: small;
}

.po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .thumbnail-container {
    filter: blur(5px);
}

.po_item:hover .content {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 1;
}

.po_item.active .content {
    opacity: 1; /* Show content when item is active */
}

.po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.po_item .content a:hover {
    text-decoration: none;
}

.custom-offcanvas {
    background-color: black; /* Set background to black */
    color: white; /* Set text color to white */
}

/* Styling for offcanvas header and body */
.custom-offcanvas .offcanvas-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Optional: Add a subtle border */
}

.custom-offcanvas .offcanvas-body {
    padding: 20px; /* Adjust padding if needed */
    overflow-y: auto; /* Allow vertical scrolling */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.custom-offcanvas .offcanvas-body::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Make sure to adjust the color of any links, headings, or other text elements if they don't show up */
.custom-offcanvas h5,
.custom-offcanvas p {
    color: white; /* Ensure that headings and paragraphs are also white */
}

.custom-offcanvas pre {
    margin-top: 1rem;
    white-space: pre-wrap; /* Wrap text in pre tags */
}


.custom-offcanvas .offcanvas-body iframe{
    overflow-y: auto; /* Allow vertical scrolling */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.custom-offcanvas .offcanvas-body iframe::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Responsive design adjustments */
@media (min-width: 992px) {
    .container {
        max-width: 850px; /* Adjust container max width */
    }
}

@media (min-width: 768px) {
    .po_item {
        min-height: 310px; /* Adjust minimum height for larger screens */
    }
}

@media (max-width: 991px) {
    .po_item .content {
        display: none; /* Initially hide content on smaller screens */
    }

    .po_item.active .content {
        display: flex; /* Show content when item is active */
    }

    .po_item:hover .thumbnail-container {
        filter: none; /* No blur effect */
    }
}

@media (max-width: 450px) {
    .po_item {
        min-height: 0; /* Adjust minimum height for very small screens */
    }

    .po_item h3,
    .po_item p,
    .po_item button {
        display: none; /* Hide elements on very small screens */
    }

    .custom-offcanvas{
        width: 99% !important;
    }

    .offcanvas-header{
        margin-top: 15px;
    }

    .offcanvas-header button{
        background-color: white;
    }

    .offcanvas-body iframe{
        height: 400px;
    }
}

@media (min-width: 768px){

    .custom-offcanvas{
        width: 80% !important;
        font-size: xx-large;
    }
    
    .custom-offcanvas .offcanvas-title {
        font-size: 30px; /* Font size for the title */
    }
    
    .custom-offcanvas .offcanvas-body {
        font-size: 20px; /* Font size for the body content */
    }
}

@media (min-width: 1050px){

}